
.education__journey{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.education__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.education__button:hover{
    color: var(--first-color);
}

.education__icon{
    font-size: 1.5rem;
    margin-right: 0.25rem;
}


.education__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: 1.5rem;
}


.education__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.education__subtitle{
    display: inline-block;
    color: var(--text-color);
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
}

.education__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.education__line{
    display: block;
    width: 1.5px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px,-7px);
    border-radius: 12px;
}

.education__content{
    display: none;
}

.education__active{
    display: block;
}

.icon__active{
    color: var(--first-color);
}

@media screen and (max-width:350px){
    .education__data{
        gap: .5rem;
    }
}

/*medium devices*/
@media screen and (min-width:568px){


    .education__container{
        display: grid;
        grid-template-columns: 0.6fr;
        justify-content: center;
    }

}

@media screen and (min-width:768px){
   .education__button{
        margin: 0 1rem;
   }
   .education__journey{
        justify-content: center;
        gap: 1rem;
   }
   .education__data{
        gap: .5rem;
   }
}