.footer{
    padding-top: 2rem;
}

.footer__container{
    gap: 3.5rem;
}

.footer__bg{
    background-color:var(--input-color);
    padding: 2rem 0 3rem;
}

.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: .25rem;
}

.footer__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.footer__links{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.footer__link{
    color: var(--title-color);
}


.footer__link:hover{
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}

.footer__social{
    font-size: 1.5rem;
    margin-right: 1.5rem;
    color: var(--title-color);
}

.footer__social:hover{
    color: var(--first-color);
}

.footer__copy{
    font-size: var(--smaller-font-size);
    color: var(--text-color);
    text-align: center;
    margin-top: 3rem;
}

@media screen and (max-width:350px){
   .footer__container{
     gap: 1rem;
   }

   .footer__copy{
    margin-top: 1.5rem;
   }
}

/*medium devices*/
@media screen and (min-width:568px){


    .footer__container{
       grid-template-columns: repeat(2,1fr);
    }

}

@media screen and (min-width:768px){
   .footer__container{
        grid-template-columns: repeat(3,1fr);
   }
   .footer__bg{
        padding: 3rem 0 3.5rem;
   }
   .footer__links{
        flex-direction: row;
        gap: 2rem;
        align-self: center;
   }
   .footer__socials{
        justify-self: flex-end;
        align-self: center;
   }
   .footer__copy{
        margin-top: 4.5rem;
   }
 }
